@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary text-dark font-sans;
}
.react-datepicker__header {
  background-color: transparent !important;
  border-bottom: 1px solid #e5989b !important;
}

.react-datepicker {
  background-color: white;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.react-datepicker__current-month {
  background-color: transparent;
  color: #6d6875;
  font-weight: 600;
  font-size: 1.1rem;
}

.react-datepicker__day-name {
  color: #6d6875;
  font-weight: 500;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #e5989b !important;
  color: white !important;
  border-radius: 50%;
}

.react-datepicker__day--today {
  font-weight: bold;
  border: 1px solid #e5989b;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background-color: #f8d6c8;
  border-radius: 50%;
}

.react-datepicker__navigation-icon::before {
  border-color: #e5989b;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
  border-color: #6d6875;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 16px;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #e5989b;
  color: white;
  border-radius: 0.3rem;
}

.react-datepicker__day:hover {
  background-color: #f8d6c8 !important;
  color: #6d6875 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  outline: none;
  box-shadow: none;
  border-color: #e5989b;
}

.booked-date {
  background-color: #fee2e2 !important;
  color: #9ca3af !important;
  text-decoration: line-through !important;
  pointer-events: none !important;
  border-radius: 0.3rem !important;
}
